:root {
  --white: hsl(0, 0%, 98%);
  --grey: hsl(0, 0%, 41%);
  --black: hsl(0, 0%, 8%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Epilogue', sans-serif;
  background-color: var(--white);
  color: var(--grey);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.intro {
  display: flex;
  flex-direction: column;
}

.intro-nav {
  height: 50px;
  /* background-color: red; */
  display: flex;
  align-items: center;
  padding: 40px;
  font-weight: 700;
  font-size: 15px;
}

.flex-container {
  width: auto;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-right: 60px;
  margin-top: 10px;
}
.nav-links {
  display: flex;
  gap: 40px;
  list-style: none;
  margin-top: 2px;
}

.nav-link {
  position: relative;
}

.nav-link a {
  text-decoration: none;
  color: var(--grey);
  display: flex;
  align-items: center;
  gap: 5px;
}

.nav-link a:hover {
  color: var(--black);
}

.dropdown-menu {
  background-color: white;
  border-radius: 11px;
  padding: 30px 0;
  width: 120px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 30px;
  display: flex;
  justify-content: center;
}

.dropdown-menu.first {
  right: 0;
  width: 150px;
}

.dropdown-menu.first img {
  margin-right: 14px;
}

.dropdown-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
}

.btns {
  justify-items: flex-end;
}

.btns .btn {
  border-color: var(--white);
  color: var(--grey);
  font-weight: 700;
}

.btns .btn:hover {
  color: var(--black);
}

.btns .cta-btn {
  border-color: var(--grey);
}

.btns .cta-btn:hover {
  border-color: var(--black);
}

.hamburger {
  display: none;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 700px;
}

.info {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.info h1 {
  color: var(--black);
  font-weight: 700;
  font-size: 70px;
  margin-bottom: 50px;
}

.info span {
  display: block;
}

.info p {
  font-size: 18px;
  line-height: 1.5;
  width: 70%;
  margin-bottom: 50px;
}

.info .btn {
  background-color: var(--black);
  color: var(--white);
  border-color: var(--black);
  margin-bottom: 120px;
}

.info .btn:hover {
  background-color: var(--white);
  color: var(--black);
}

.info .clients {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

.hero-img {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.hero-img img {
  height: 70%;
  max-height: 1000px;
  min-height: 600px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin: 20px 0;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 1127px) {
  .flex-container .logo {
    margin-right: 40px;
  }

  .nav-links {
    gap: 15px;
  }

  main {
    flex-direction: column;
    height: 1200px;
  }

  .info {
    order: 2;
    width: 70%;
    align-items: center;
    text-align: center;
  }

  .info h1 {
    font-size: 50px;
  }

  .info span {
    display: inline-block;
  }

  .hero-img {
    width: 100%;
    height: 50%;
  }

  .hero-img img {
    height: 100%;
  }
}

@media (max-width: 750px) {
  .flex-container {
    flex-direction: column;
    position: fixed;
    top: 90px;
    right: 25px;
    z-index: 2;
    flex-direction: column;
    gap: 25px;
  }

  .nav-links {
    z-index: 2;
    flex-direction: column;
  }

  .nav-link {
    width: 150px;
  }

  .dropdown-menu {
    position: relative;
    top: 0;
    box-shadow: none;
  }

  .dropdown-menu.first {
    width: auto;
  }

  .intro-nav .btns {
    display: flex;
    flex-direction: column;
  }

  .hamburger {
    display: block;
    /* position: fixed; */
    position: absolute;
    right: 30px;
    z-index: 2;
  }

  .side-menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 200px;
    background-color: var(--white);
  }

  .hidden-750px {
    display: none;
  }
}

@media (max-width: 500px) {
  main {
    height: auto;
  }

  .hero-img {
    width: 100%;
  }

  .hero-img img {
    width: 100%;
    height: 200px;
    max-width: unset;
    max-height: unset;
    object-fit: contain;
  }
  .info {
    width: 100%;
  }

  .info h1 {
    font-size: 35px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .info .clients {
    gap: 10px;
  }
}

@media (max-width: 375px) {
  .info .clients {
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-bottom: 30px;
  }

  .info .btn {
    margin-bottom: 40px;
  }
}
