:root {
  --white: hsl(0, 0%, 98%);
  --grey: hsl(0, 0%, 41%);
  --black: hsl(0, 0%, 8%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Epilogue', sans-serif;
  background-color: var(--white);
  color: var(--grey);
}

.intro-nav {
  height: 50px;
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  font-weight: 700;
  font-size: 15px;
}

.flex-container {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 60px;
  margin-top: 10px;
}
.nav-links {
  display: flex;
  gap: 40px;
  list-style: none;
  margin-top: 2px;
}
.nav-link a {
  text-decoration: none;
  color: var(--grey);
  display: flex;
  align-items: center;
  gap: 5px;
}

.nav-link a:hover {
  color: var(--black);
}

.btns {
  justify-items: flex-end;
}

.btns .btn {
  border-color: var(--white);
  color: var(--grey);
  font-weight: 700;
}

.btns .btn:hover {
  color: var(--black);
}

.btns .cta-btn {
  border-color: var(--grey);
}

.btns .cta-btn:hover {
  border-color: var(--black);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: calc(100vh - 80px);
}

.info {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.info h1 {
  color: var(--black);
  font-weight: 700;
  font-size: 70px;
  margin-bottom: 50px;
}

.info p {
  font-size: 18px;
  line-height: 1.5;
  width: 70%;
  margin-bottom: 50px;
}

.info .btn {
  background-color: var(--black);
  color: var(--white);
  margin-bottom: 120px;
}

.info .btn:hover {
  background-color: var(--white);
  color: var(--black);
}

.info .clients {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

.hero-img {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.hero-img img {
  height: 70%;
  max-height: 1000px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
