.btn {
  background-color: var(--white);
  border-style: solid;
  border-radius: 11px;
  padding: 10px 20px;
  font-weight: 700;
  cursor: pointer;
}

.hidden {
  display: none;
}

.fixed {
  position: fixed !important;
}
